<div class="container content">
  
    <div class="row">
      <div class="col-sm-12">
        <h1>{{ 'Gites title' | translate }}</h1>
  
        <p>
          {{ 'Gites text' | translate }}
        </p>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-6" *ngFor="let gite of gites">
        <div class="card">
          <img class="card-img-top" src="{{gite.fields.images[5].fields.file.url}}" alt="{{gite.fields.images[5].fields.description}}">
          <div class="card-header">
            <h2>{{gite.fields.name}}</h2>
          </div>
          <div class="card-body">
            <p>{{ 'GiteDetail_Detail suitable for' | translate }} {{gite.fields.people}} {{ 'GiteDetail_Detail people' | translate }}.</p>
            <a href="#" class="btn btn-outline-primary" routerLink="/gite/{{gite.sys.id}}">{{ 'Gites_Detail button' | translate }}</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <!-- <img class="card-img-top" src="../../../assets/images/under_construction.png" alt="Under construction"> -->
          <div class="card-header">
            <h2>{{ 'Gites_WIP title' | translate }}</h2>
          </div>
          <div class="card-body">
            <p>
              {{ 'Gites_WIP text' | translate }}
            </p>
          </div>
        </div>
      </div>

  </div>