@import "../../assets/theme";

.content {
    margin-top: 25px;
    margin-bottom: 25px;
}

.card {

    &-img-top {
        background-color: $secondary;
    }

    &-header {
        background-color: $secondary;
    }
}