<div class="container content">
  
    <div class="row">
      <div class="col-sm-12">
        <h1>Onze gites</h1>
  
        <p>
          <i>Le Grenier</i> is onze eerste gite, geschikt voor 7 personen, gelegen op de bovenverdieping van het hoofdhuis. Kijk hieronder naar wat foto's!
        </p>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-6" *ngFor="let gite of gites">
        <div class="card">
          <img class="card-img-top" src="{{gite.fields.images[5].fields.file.url}}" alt="{{gite.fields.images[5].fields.description}}">
          <div class="card-header">
            <h2>{{gite.fields.name}}</h2>
          </div>
          <div class="card-body">
            <p>Geschikt voor {{gite.fields.people}} personen.</p>
            <a href="#" class="btn btn-outline-primary" routerLink="/gite/{{gite.sys.id}}">Bekijken</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6" *ngFor="let gite of gites">
        <div class="card">
          <!-- <img class="card-img-top" src="../../../assets/images/under_construction.png" alt="Under construction"> -->
          <div class="card-header">
            <h2>Work in progress</h2>
          </div>
          <div class="card-body">
            <p>Aan de andere gites zijn we nog aan het werken. Zodra ze klaar zijn, kan ja ze hier ook bekijken!</p>
          </div>
        </div>
      </div>

  </div>