<div *ngIf="gite" class="container content">
    
  <div class="row">
    <div class="col-sm-8">
      <div id="detailCarouselIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li *ngFor="let image of gite.images; let i = index;" data-target="#detailCarouselIndicators" attr.data-slide-to="{{i}}" [ngClass]="{'active': i == 0}"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
          <div *ngFor="let image of gite.fields.images; let i = index;" class="carousel-item" [ngClass]="{'active': i == 0}">
            <img class="d-block img-fluid carousel-image" src="{{image.fields.file.url}}" alt="{{image.fields.description}}">
          </div>
        </div>
        
        <a class="carousel-control-prev" href="#detailCarouselIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#detailCarouselIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="col-sm-4">
      <h1>{{gite.fields.name}}</h1>

      <p>
        Geschikt voor {{gite.fields.people}} personen
      </p>

      <!-- <h3>Beschrijving</h3> -->
      <p>
        {{gite.fields.description}}
      </p>
      
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2>Prijzen</h2>

      <table>
        <tr *ngFor="let price of gite.fields.prices">
          <td>
              €{{price.fields.price}}/{{price.fields.description}}
          </td>
          <td>
              {{price.fields.period}}
          </td>
        </tr>
      </table>

      <h2>Uitrusting</h2>

      <div *ngFor="let item of gite.fields.equipment">
        {{item.fields.name}}
      </div>

      <h2>Kalendar</h2>
      <calendar-component [booking]="gite.fields.booking.fields"></calendar-component>
    </div>
  </div>

</div>