<div class="container content">
  
  <div class="row">
    <div class="col-lg-6">
      <article>
        <h2>Onze droom is een feit!</h2>
        <p>
            In het Zuiden van Frankrijk hebben we een ‘hameau’ (gehucht) gekocht.
            Een boerderij met 56ha bos, weide, kleine vijver en een aantal gebouwen erop.
            We zitten in het ‘Parc Naturel du Haute-Languedoc’.
            Het dichtstbijzijnde dorp en buur zijn op een 5 tal km.
            Hier geniet je van rust, stilte, ideaal om te herbronnen.
        </p>
        <p>
            We hopen jullie heel binnenkort te mogen begroeten op ‘La Pode’.
        </p>
        <p>
            Eric en Mieke Vogelaers - Piens  
        </p>    
      </article>
    </div>

    <div class="col-lg-6">
        <img class="img-fluid" src="../../../assets/images/about/mieke_erik.jpg" alt="First slide">
    </div>
  </div>
</div>