<div class="container content">
  
  <div class="row">
    <div class="col-lg-6">
      <article>
        <h2>{{ 'About title' | translate }}</h2>
        <p>
          {{ 'About text' | translate }}
        </p>
        <p>
          {{ 'About hope to welcome you' | translate }}
        </p>
        <p>
          {{ 'About names' | translate }}
        </p>    
      </article>
    </div>

    <div class="col-lg-6">
        <img class="img-fluid" src="../../../assets/images/about/mieke_erik.jpg" alt="First slide">
    </div>
  </div>
</div>