<!-- <app-carousel *ngIf="carousel"></app-carousel> -->
<header>
  <nav class="navbar navbar-expand-md bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item nav-item-middle-right dropdown">
          <a class="nav-link dropdown-toggle" href="#ng" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Gites
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/gites">Alle gites</a>
            <div class="dropdown-divider"></div>
            <a *ngFor="let gite of gites" class="dropdown-item" routerLink="/gite/{{gite.sys.id}}">{{gite.fields.name}}</a>
          </div></li>

        <li class="nav-item">
            <a class="nav-link nav-item-middle-left" routerLink="/grounds">Terrein</a></li>


        <li class="nav-item">
          <a class="navbar-brand" routerLink="/">La Pode</a></li>
        

        <li class="nav-item">
            <a class="nav-link" routerLink="/about">Over ons</a></li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  </header>