<div class="container content">
  <div class="row">
    <div class="col-sm-6">
        <img class="img-fluid" src="../../../assets/images/about/waymark.jpg" alt="First slide">
    </div>
    <div class="col-sm-6">
      <h2>{{ 'Contact_Address title' | translate }}</h2>
      <p>
        {{ 'Contact_Address street' | translate }}<br>
        {{ 'Contact_Address village' | translate }}<br>
        {{ 'Contact_Address province' | translate }} - {{ 'Contact_Address country' | translate }}<br>       
      </p>
      <p>
        {{ 'Contact_Address from Brussels' | translate }} :<br>
        {{ 'Contact_Address car' | translate }}<br>
        {{ 'Contact_Address plane' | translate }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h2>{{ 'Contact_ContactUs title' | translate }}</h2>
      <p>
        la.pode.cassagnoles@gmail.com          
      </p>
    </div>
    <div class="col-sm-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1785.913993025922!2d2.617776241611778!3d43.41395194212667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDPCsDI0JzUwLjIiTiAywrAzNycwNy45IkU!5e1!3m2!1snl!2sbe!4v1532548711218" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>