<app-carousel></app-carousel>

<div class="container content">

  <div class="row">
    <div class="col-sm-12">
      <h1>{{ 'Home_Welcome' | translate }}</h1>

      <p>
        {{ 'Home_Welcome text' | translate }}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <h2>{{ 'Home_Gites title' | translate }}</h2>
        </div>
        <div class="card-body">
          <p class="card-text">
            {{ 'Home_Gites text' | translate }}
          </p>
          <a href="#" class="btn btn-outline-primary" routerLink="/gites">{{ 'Home_Gites button' | translate }}</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
              <h2>{{ 'Home_Grounds title' | translate }}</h2>
            </div>
            <div class="card-body">
              <p class="card-text">
                {{ 'Home_Grounds text' | translate }}
              </p>
              <a href="#" class="btn btn-outline-primary" routerLink="/grounds">{{ 'Home_Grounds button' | translate }}</a>
            </div>
          </div>
    </div>
  </div>

</div>